@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Hola!</h1>
    <br />
    <h5>Este es el proyecto para PNT1 2022 1er cuatrimestre.</h5>
    <br />
    <p>El proyecto consiste en poder reservar viajes y agregar conductores simulando una remiseria.</p>
</div>
